<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rakshara</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a> |
      {% if user.is_authenticated %}
        Hello {{ user.username }} |
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'student_register' %}">Student Sign Up</a> |
        <a href="{% url 'teacher_register' %}">Teacher Sign Up</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% if messages %}
      {% for m in messages %}
        <div>{{ m }}</div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
